.viewarea {
  padding: 20px;
}
.logo {
  color: white;
  width: 57px;
  font-size: 30px;
}
.menuitem {
  cursor: pointer;
  color: white!important;
}
.active {
  font-weight: 500;
  color: white!important;
}
.navbar {
  background-color: #673ab7;
}
.nav-link {
  color: rgba(255, 255, 255, 0.398);
}
