.workspace {
  margin-top: 20px;
}

.question {
  margin-bottom: 10px;
  font-size: large;
}

.kinshipscontainer {
  margin-top: 20px;
  font-size: large;
}

.kinshiprow {
  margin-bottom: 10px;
  color: #673ab7;
}
