.reigncard {
  width: auto;
  float: left;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.newbutton {
  margin: auto;
}
.reigninput {
  font-size: 12px;
  margin: 10px;
  width: 220px;
  height: 70px;
}
.mat-mdc-form-field-subscript-wrapper {
  height: 5px;
}
.mat-divider {
  margin-bottom: -15px !important;
  margin-top: 0px !important;
  border-top-width: 0;
}
.hintfontcolor{
  color:lightgray;
  font-size: 10px;
}
