.workarea {
  padding: 20px;
}
.countriestile {
  width: 100%;
  padding-left: 15px;
}
.button-row {
  margin-bottom: 10px;
}
.countrycard {
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
