.workarea {
  padding-top: 20px;
}
.mat-divider {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  border-top-width: 0;
}
.nameinputsize {
  width: 300px;
}
.fullnameinputsize {
  width: 700px;
}
.hintfontcolor{
  color:lightgray;
}
.gendericon {
  margin-right: 5px;
}
.gendericonmale {
  color: blue;
}
.gendericonfemale {
  color: rgb(255, 0, 174);
}
.reignedcontainer {
  padding: 10px;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: gray;
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.reignedlabel {
  margin-left: 7px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
}
.reigncardslist {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow: auto;
}
.reigncard {
  width: 200px;
  float: inline-start;
  min-height: 100px;
  vertical-align: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.newbutton {
  margin: auto;
}
