<div class="workarea">
  <section>
      <div class="button-row">
        <button class="btn btn-outline-primary" routerLink="/noble/-1">New Noble</button>
      </div>
  </section>

<div class="text-left">
  <div class="row">
    <div *ngFor="let noble of nobles" class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
      <div class="noblecard">
        <app-noble-card [noble]="noble" (nobleClicked)="goToEditNoble(noble.id)" (deleteNoble)="openDialog(noble)"></app-noble-card>
      </div>
    </div>
  </div>

  <div *ngIf="error !== ''" cols="3" rowHeight="40">{{error}}</div>

</div>


