.countrycard {
  background-color: rgba(103, 58, 183, 0.07);
  height: 100%;
  cursor: pointer;
}

.countryname {
  margin: 0;
}

.flagspace {
  display: inline-block;
  margin-right: 10px;
  font-size: 40px;
}
.actionbuttons {
  float: right;
}
.card-footer {
  background-color: transparent;
  border: none;
}
