.noblecard {
  background-color: rgba(103, 58, 183, 0.07);
  height: 100%;
  cursor: pointer;
}

.noblename {
  font-weight: 500;
  margin-bottom: 0;
}

.noblelifetime {
  font-size: small;
}

.noblefullname {
  margin-top: -5px;
  margin-bottom: 0;
  color: #8a8a8a;
}

.noblecardcontent {
  margin-top: -10px;
}

.parentstitle {
  font-weight: bold;
  margin-top: 10px;
}

.reignstitle {
  font-weight: bold;
  margin-top: 10px;
}

.parentitem {
  font-size: small;
}

.reignitem {
  font-size: small;
}

.gendericon {
  margin-right: 5px;
}
.gendericonmale {
  color: blue;
}
.gendericonfemale {
  color: rgb(255, 0, 174);
}
.crownicon {
  color: #673ab7;
}
.flagspace {
  display: inline-block;
}
.actionbuttons {
  float: right;
}
.card-footer {
  background-color: transparent;
  border: none;
}
